SITE='http://localhost:4321' # your site domain

# Blog post comment setting
GISCUS_REPO='' # giscus.app repo 'devaradise/xxxxxxxx'
GISCUS_REPO_ID='' # giscus.app repo id 'R_xxxxxxx'
GISCUS_CATEGORY='' # giscus.app category 'Comments'
GISCUS_CATEGORY_ID=''  # giscus.app category id 'DIC_xxxxxxxxxxx' 