---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>Hanif (Ha·Neef) is a Full Stack Developer with experiences building SaaS and enterprise level products.</p>
		<p>He's happy to collaborate on projects as a front end or full stack developer. His main stack is TypeScript, React, and Node.</p>
	</div>
</div>
